# .htaccess for http://scootergrisen.dk/scooterhjemmeside/
# æøåÆØÅ UTF-8 uden BOM

ErrorDocument 403 /scooterhjemmeside/fejl.php
ErrorDocument 404 /scooterhjemmeside/fejl.php

DirectoryIndex index.php

#RedirectPermanent /robots.txt http://scootergrisen.dk/robots.txt
